@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
}


p {
    line-height: 20px;
}

.container {
    margin: 150px 50px;
}

.title {
    width: 35%;
}

.title h1 {
    width: 90%;
    font-size: 4rem;
    color: #511f50;
}

.title-summary {
    color: #938793;
}

.top-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.star-rating {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #f7f2f8;
    border-radius: 10px;
    padding: 7px 25px;
    width: 400px;
    margin: 25px 15px;
}

.star-rating img {
    width: 15px;
    height: 15px;
    padding: 20px 5px;
}

.star-rating-text {
    margin-left: 20px;
    font-weight: bolder;
    color: #511f50;
}

.star-rating:nth-child(2) {
    margin-left: 50px;
}
.star-rating:nth-child(3) {
    margin-left: 85px;
}

.star-review-container {
    display: flex;
}

.star-review {
    display: flex;
    flex-direction: column;
    background-color: #511f50;
    border-radius: 10px;
    padding: 25px;
    height: 160px;
    margin: 20px;
}

.star-review img {
    height: 60px;
    width: 60px;
    border-radius: 80px;
}

.user-profile {
    display: flex;
    line-height: 20px;
}
.user-profile p {
    margin-left: 20px;
    font-weight: bolder;
    color: white;
}

.verified-buyer-text {
    color:#cd72ad;
}

.star-review-text {
    color: white;
}

.star-review:nth-child(2) {
    margin-top: 40px;
}

.star-review:nth-child(3) {
    margin-top: 60px;
}